@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ysabeau Infant', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.heading > img {
  width: 100px;
  height: 100px;
}

.filter {
  display: flex;
  justify-content: end;
  align-items: center;
 
}

.filter > select {
width: 200px;
  margin-left: 20px;
}

.btn {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  position: relative;
}

li > p {
  margin: 10px 40px 10px;
}

.delete {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.delete:hover {
  background-color: aliceblue;
}

@media (min-width: 1070px) {
  .heading,
.filter,
.new-task,
.task-list  {
  margin: 20px 200px 20px;
  padding: 10px;
}
}